.empty {
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background: #0097cf; }

.wrap {
  font-size: 16px;
  width: 1196px;
  height: auto;
  margin: 0 auto; }
  .wrap .nav {
    color: #fff;
    height: 60px;
    background: #0097cf; }
    .wrap .nav .img {
      width: 374px;
      height: 60px;
      float: left; }
    .wrap .nav .first {
      float: left;
      width: 564px;
      height: 60px; }
      .wrap .nav .first ul {
        width: 100%; }
        .wrap .nav .first ul li {
          float: left;
          padding: 0 30px;
          line-height: 60px; }
    .wrap .nav .people {
      float: right;
      width: 218px;
      height: 60px;
      line-height: 60px;
      font-size: 14px; }
  .wrap .find {
    position: relative;
    height: 124px;
    width: 100%; }
    .wrap .find .place {
      position: absolute;
      bottom: 20px;
      left: 28px; }
      .wrap .find .place span {
        color: #0097cf; }
      .wrap .find .place input {
        height: 40px;
        width: 427px;
        border-radius: 5px; }
      .wrap .find .place button {
        width: 85px;
        height: 40px;
        border: none;
        background: #f6ac00;
        color: #fff;
        border-radius: 4px; }
  .wrap .system {
    width: 100%;
    height: 192px;
    margin-bottom: 40px; }
    .wrap .system .s_l {
      width: 191px;
      height: 190px;
      float: left;
      border-right: 1px solid #e6e6e6; }
    .wrap .system .s_c {
      float: left;
      margin-left: 60px;
      width: 428px;
      height: 190px;
      background: #fcfcfe;
      border: 1px solid #e6e6e6;
      border-radius: 5px; }
      .wrap .system .s_c p {
        height: 42px;
        color: #414141;
        font-weight: bold;
        line-height: 42px;
        font-size: 18px;
        margin-left: 15px; }
      .wrap .system .s_c ul {
        height: 190px; }
        .wrap .system .s_c ul li {
          float: left;
          padding-left: 18px;
          height: 34px;
          line-height: 34px;
          font-size: 12px;
          color: #818181; }
    .wrap .system .s_r {
      width: 430px;
      height: 190px;
      float: left;
      margin-left: 20px;
      background: #fcfcfe;
      border: 1px solid #e6e6e6;
      border-radius: 5px; }
      .wrap .system .s_r input {
        border: 0 none;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left: 15px; }
      .wrap .system .s_r p {
        height: 42px;
        color: #0097cf;
        font-weight: bold;
        line-height: 42px;
        font-size: 18px;
        margin-left: 15px;
        border-bottom: 1px dashed #ccc;
        margin-bottom: 10px;
        cursor: pointer; }
      .wrap .system .s_r ul {
        height: 190px; }
        .wrap .system .s_r ul li {
          float: left;
          margin: 5px 9px;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          color: #818181;
          background: #f0f0f0;
          border: 1px solid #a9a9a9;
          border-radius: 3px;
          text-align: center;
          padding: 0 10px;
          position: relative; }
          .wrap .system .s_r ul li span {
            position: absolute;
            top: -5px;
            right: -5px;
            background: #f4c600;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            line-height: 15px;
            text-align: center;
            cursor: pointer; }
  .wrap .tit {
    height: 35px; }
    .wrap .tit p {
      line-height: 24px;
      float: left;
      padding-left: 15px;
      font-weight: bold;
      color: #414141; }
    .wrap .tit ul {
      width: 1020px;
      height: 23px;
      border-bottom: 1px dashed #e6e6e6;
      float: left;
      line-height: 26px; }
      .wrap .tit ul li {
        height: 26px;
        float: right;
        padding: 3px 15px;
        color: #414141;
        background: #e5e5e5;
        border: 1px solid #e6e6e6;
        line-height: 26px; }
  .wrap .tab .table > tbody > tr > td {
    border: 0;
    width: 50px;
    font-size: 14px;
    color: #818181; }
  .wrap .tab .table > tbody > tr > td:nth-child(1) {
    text-align: right; }
  .wrap .tab .table > tbody > tr > td:nth-child(2) {
    text-align: left; }
  .wrap .con {
    display: -webkit-flex;
    justify-content: space-around;
    border-bottom: 10px; }
    .wrap .con dl dt img {
      width: 100%; }
    .wrap .con dl dd {
      text-align: center; }
  .wrap .tel {
    font-size: 12px;
    text-align: center;
    color: #818181; }

/*# sourceMappingURL=style.css.map */
